<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>
<body>
    <form action="/register" method="POST" class="box">
        
          <div class="form-group">
            <label for="password">Firstname</label>
            <input type="text" class="form-control" name="fname">
          </div>
          <div class="form-group">
            <label for="password">Lastname</label>
            <input type="text" class="form-control" name="lname">
          </div>
          <div class="form-group">
            <label for="password">Adress</label>
            <input type="text" class="form-control" name="adress">
          </div>
          <div class="form-group">
            <label for="password">phone num</label>
            <input type="text" class="form-control" name="phnum">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password">
          </div>
          <div class="form-group">
            <label for="password">confirm-Password</label>
            <input type="password" class="form-control" name="password1">
          </div>
          <button type="submit" class="btn btn-dark">Register</button>
        
    </form>
</html>